* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--first-color: #0f0326;
	--second-color: #777;
	--third-color: #0e2431;
	--body-bg-color: #fefefe;

	--purple-color: #405354;

	--modal-bg-color: #fff;

	--bg-transparent-color: rgba(0, 0, 0, 0.1);
	--transparent-color-2: rgba(0, 0, 0, 0.1);
	--transparent-color-3: rgba(106, 89, 209, 0.1);

	--color-filter: invert(1);

	--box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

	--small-font-size: 0.9rem;
	--normal-font-size: 1rem;

	--scroll-bar-color: #c5cadf;
	--scroll-thumb-color: #70768a;
	--scroll-thumb-hover-color: #454f6b;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--first-color);
	background-color: var(--body-bg-color);
	margin: 2rem 0 0 0;
	transition: 0.5s ease;
}

a {
	text-decoration: none;
	color: var(--first-color);
}

li {
	list-style: none;
}

section,
footer {
	/* when to create the animation, we need to add overflow: hidden (all section or add wrapper section)*/
	overflow: hidden;
}

.scrollTop-btn {
	z-index: 999;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 40px;
	height: 50px;
	background-color: var(--first-color);
	color: var(--body-bg-color);
	font-size: var(--small-font-size);
	border-radius: 0.8rem;
	cursor: pointer;
	opacity: 0;
	transition: 0.5s ease;
}

.scrollTop-btn.active {
	right: 1rem;
	pointer-events: all;
	opacity: 1;
}

/* ::-webkit-scrollbar {
	width: 10px;
	background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb-color);
	border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-thumb-hover-color);
} */

header {
	-webkit-backdrop-filter: blur(15px);
	z-index: 99999;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(15px);
	transition: 0.6 ease;
}

header.sticky {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: var(--box-shadow);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: calc(4rem + 1rem);
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.25rem;
	transition: 0.6 ease;
}

nav .logo {
	color: var(--purple-color);
	font-size: 1.5rem;
	font-weight: 500;
}

.nav-items {
	font-size: var(--normal-font-size);
	font-weight: 400;
}

.nav-items a:not(:last-child) {
	color: var(--first-color);
	margin-right: 3.125rem;
}

.nav-items a:hover {
	color: var(--purple-color);
}

.nav-line {
	border-top: 1px solid rgba(234, 236, 244, 0.8);
	position: absolute;
	top: auto;
	bottom: 0%;
	left: 0%;
	right: 0%;
}

.nav-menu-btn {
	display: none;
}

.home-page {
	position: relative;
	max-width: 1250px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding: 4rem 2rem;
	flex-direction: column;
}

.home-page .home-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.home-container .media-icons {
	display: flex;
	flex-direction: column;
	margin-right: 2.5rem;
}

.home-container .media-icons a {
	color: var(--purple-color);
	font-size: 1.5rem;
	margin: 0.625rem 0;
}

.home-container .media-icons a:hover {
	color: var(--third-color);
}

.home-container .info h2 {
	margin: 0;
	font-size: 3rem;
	line-height: 4rem;
}

.home-container .info h3 {
	font-feature-settings: 1.3em;
	line-height: 3rem;
}

.home-container .info p {
	font-size: var(--normal-font-size);
	/* max-width: 400px; */
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 0.5rem 1.5rem;
	background: var(--purple-color);
	border-radius: 0.5rem;
	color: var(--body-bg-color);
	font-size: var(--normal-font-size);
	font-weight: 400;
}

.btn:hover {
	background: none;
	color: var(--purple-color);
	border: 1px solid var(--purple-color);
	border-radius: 0.5rem;
}

.home-container .home-photo {
	position: relative;
}

.home-container .home-photo img {
	height: 450px;
	border-radius: 1rem;
	transform: translate(0, 0);
}

.home-page .scroll-down {
	color: var(--purple-color);
	font-size: 1.5rem;
	margin-top: 1.25rem;
	animation: arrow-dropdown ease 2s infinite;
}

@keyframes arrow-dropdown {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(10px);
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	position: relative;
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 4rem 2rem;
}

.sub-section {
	position: relative;
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 6rem 0;
}

.header-about {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

.container {
	position: relative;
	flex-direction: column;
}

.about .container .content {
	column-gap: 2.5rem;
	width: 100%;
	border-radius: 2rem;
	box-shadow: 0 2px 20px rgba(204, 208, 214, 0.5);
	padding: 2.5rem;
}

.about-img {
	position: relative;
	width: 400px;
}

.about-img img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

.about-info .descr {
	max-width: 600px;
}

.about-info .descr h3 {
	color: var(--purple-color);
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0.625rem;
}

.about-info .descr p {
	font-size: var(--normal-font-size);
	margin-bottom: 0.938rem;
	padding-bottom: 1.563rem;
}

.about-info .proffesional-list {
	display: flex;
	column-gap: 1.875rem;
	padding: 0;
}

.about-info .proffesional-list .list-item h3 {
	color: var(--purple-color);
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.about-info .proffesional-list .list-item span {
	font-size: var(--small-font-size);
}

.benefits-section {
	position: relative;
	max-width: 1250px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding: 4rem 2rem;
}

.header-benefits {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2rem;
}

.sub-header-benefits {
	margin-top: 1rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.benefits-section .container .content {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2.25rem;
	grid-row-gap: 2rem;
	margin: 0 auto;
	background-color: var(--body-bg-color);
	border-radius: 2rem;
	box-shadow: 0 2px 20px rgba(204, 208, 214, 0.5);
	padding: 2.5rem;
}

.benefits-section .content-descr h3 {
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

.benefits-section .content-descr p {
	font-size: 1rem;
	margin-top: 0.5rem;
}

.content-descr .benefits-icons ion-icon {
	font-size: 1.5rem;
	color: var(--purple-color);
}

.apps-download {
	position: relative;
	max-width: 1250px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding: 4rem 2rem;
}

.header-apps {
	margin-top: 0;
	margin-bottom: 3rem;
	font-size: 2rem;
}

.apps-download .container .content {
	width: 100%;
}

.apps-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 100%;
	gap: 1.875rem;
	margin: 0 auto;
}

.apps-content .img-card {
	position: relative;
	max-width: 100%;
	height: 426px;
	border-radius: 2rem;
	box-shadow: 0 2px 20px rgba(204, 208, 214, 0.5);
	overflow: hidden;
	cursor: pointer;
}

.apps-content .img-card .overlay {
	transition: 1s ease;
}

.apps-content .img-card:hover .overlay {
	z-index: 777;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.apps-content .img-card .info {
	z-index: 777;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 1.25rem;
	color: var(--body-bg-color);
	transform: translateY(20px);
	opacity: 0;
	transition: 0.5s ease;
}

.apps-content .img-card:hover .info {
	transform: translateY(0);
	opacity: 1;
}

.apps-content .img-card .info h3 {
	font-size: 1.5rem;
}

.apps-content .img-card img {
	width: 100%;
	height: 426px;
	object-fit: cover;
}

.apps-model {
	z-index: 999999;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: var(--transparent-color-2);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease;
}

.apps-model.active {
	visibility: visible;
	opacity: 1;
}

.apps-model-body {
	position: relative;
	background: var(--modal-bg-color);
	max-width: 600px;
	margin: 1.25rem;
	padding: 2.5rem;
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	transform: translateY(-50px);
	transition: 0.5s ease;
}

.apps-model.active .apps-model-body {
	transform: translateY(0);
}

.apps-model-body ion-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1.25rem;
	cursor: pointer;
}

.apps-model-body h3 {
	font-size: 1.5rem;
}

.apps-model-body img {
	width: 50%;
	border-radius: 1rem;
}

.contacts .container .content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contacts .content .contact-left ul {
	padding: 0;
}

.contact-left h2 {
	font-size: 2.1em;
	font-weight: 800;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.contact-list li {
	margin-bottom: 2.5rem;
}

.contact-list li h3 {
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 0.625rem;
}

.contact-list li h3 ion-icon {
	color: var(--purple-color);
	font-size: 2rem;
	margin-right: 0.625rem;
}

.contact-list li span {
	color: var(--first-color);
	margin-left: 2.625rem;
}

.contact-right p {
	font-size: 1.6em;
	margin-bottom: 1.875rem;
}

.contact-right p span {
	color: var(--purple-color);
	font-weight: 700;
}

.contact-form input,
.contact-form textarea {
	border: none;
	color: var(--purple-color);
	background: #849c9e;
	font-size: var(--normal-font-size);
	margin-bottom: 1.25rem;
	padding: 15px 40px 40px 20px;
	border-radius: 1rem;
}

.contact-form textarea {
	width: 100%;
	resize: none;
}

::placeholder {
	color: var(--purple-color);
}

.contact-form .first-row input {
	width: 100%;
}

.contact-form .second-row {
	display: flex;
	flex-direction: column;
}

.contact-form .btn {
	background: var(--first-color);
	margin-top: 0;
	cursor: pointer;
}

.contact-form .btn:hover {
	background: none;
	color: var(--first-color);
	border: 1px solid var(--first-color);
	border-radius: 0.5rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--purple-color);
	width: 100%;
	margin-top: 3.125rem;
	padding: 3rem 2rem;
	color: var(--body-bg-color);
}

footer a {
	color: var(--body-bg-color);
}

footer a:hover {
	color: var(--first-color);
}

.footer-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
}

.footer-container .about {
	padding-left: 1rem;
}

.footer-container .about h2 {
	margin: 0;
	font-size: 2rem;
	font-weight: 500;
}

.footer-container .about p {
	margin-right: 1.25rem;
}

.footer-container .info,
.footer-container .follow {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footer-container .info h3 {
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 0.5rem;
	margin-bottom: 1.875rem;
}

.footer-container .follow h3 {
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 0.5rem;
	margin-bottom: 1.875rem;
}

.footer-container .info ul,
.footer-container .follow ul {
	display: flex;
	padding: 0;
	margin: 0;
}

.footer-container .info a {
	margin: 1.25rem;
}

.footer-container .follow a {
	font-size: 1.5rem;
	margin: 1.25rem;
}

.footer-copyright p {
	font-size: var(--normal-font-size);
	font-weight: 300;
	margin-top: 3.125rem;
	margin-bottom: 0;
}

/* @media screen and (min-width: 768px) and (max-width: 991px) { */

@media screen and (max-width: 1200px) {
	.apps-model-body {
		max-width: 500px;
	}

	.apps-model-body h3 {
		margin-top: 0;
	}
}

@media screen and (max-width: 991px) {
	.home-page .home-container {
		flex-direction: column;
	}

	.home-container .media-icons {
		flex-direction: row;
		margin-right: 0;
	}

	.home-page .home-container .info {
		text-align: center;
	}

	.home-container .info h2 {
		font-size: 2.3rem;
		line-height: 3rem;
	}

	.home-container .info h3 {
		line-height: 1.8rem;
	}

	.home-container .media-icons a {
		margin: 0.625rem 1rem;
	}

	.home-container .home-photo {
		margin-top: 2rem;
	}

	.about .container .content {
		flex-wrap: wrap;
	}

	.about-info .descr {
		max-width: 100%;
	}

	.about-info .proffesional-list {
		flex-direction: column;
	}

	.benefits-section .container .content {
		grid-template-columns: 1fr;
	}

	.apps-content {
		grid-template-columns: 1fr;
	}

	.apps-model-body {
		max-width: 400px;
		font-size: 0.9rem;
	}

	.contacts .container .content {
		flex-direction: column;
		text-align: center;
	}

	.contact-list li span {
		margin-left: 0;
	}

	.contact-list li h3 ion-icon {
		display: flex;
		margin: 0 auto;
	}

	footer .footer-container {
		flex-direction: column;
	}

	.footer-container .about,
	.footer-container .info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-left: 0;
	}

	.footer-container .about p {
		margin-right: 0;
	}

	.footer-container .info ul {
		align-items: center;
		flex-direction: column;
	}
	.footer-container .info li {
		margin-bottom: 0.5rem;
	}
}

@media screen and (max-width: 767px) {
	.navigation {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: -100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.6s all;
	}

	.navigation.active {
		left: 0;
	}

	.nav-items {
		position: relative;
		background: var(--modal-bg-color);
		width: 600px;
		max-width: 600px;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 1.25rem;
		padding: 2.5rem;
		border-radius: 2rem;
		box-shadow: var(--box-shadow);
	}

	.nav-items a {
		margin: 1rem 3rem;
	}

	.nav-close-btn {
		position: absolute;
		background: url('../icons/close.png') center center / cover no-repeat;
		background-position: end;
		background-size: 1rem;
		width: 40px;
		height: 40px;
		top: 0;
		right: 0;
		margin: 1rem;
		cursor: pointer;
	}

	.nav-menu-btn {
		background: url('../icons/lines.png') center center / cover no-repeat;
		background-position: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		display: block;
	}

	.home-page .home-container {
		padding: 2rem 0;
	}

	.home-container .home-photo img {
		width: 100%;
		object-fit: cover;
	}

	.about-img {
		width: 100%;
	}

	.about-info .descr p {
		font-size: 0.9rem;
		padding-bottom: 0;
	}

	.apps-content .img-card img {
		height: 450px;
	}

	.contact-right p {
		font-size: 1.3em;
	}

	.contact-list li span {
		margin-left: 0;
	}
}

@media screen and (max-width: 479px) {
	.home-page .home-container {
		flex-direction: column-reverse;
	}

	.home-page .home-container .info {
		margin: 0;
		padding-top: 1rem;
		text-align: center;
	}

	.home-container .info h2 {
		font-size: 2rem;
	}

	.home-container .info h3 {
		font-size: 1rem;
		line-height: 1.2rem;
	}

	.home-container .info p {
		font-size: 0.8rem;
	}

	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.btn:hover {
		background: var(--purple-color);
		color: var(--body-bg-color);
		border: 0;
	}

	.home-container .media-icons {
		margin: 1rem 0;
		flex-direction: row;
	}

	.home-container .media-icons a {
		margin: 1rem;
	}

	.home-container .media-icons a:hover {
		color: var(--purple-color);
	}

	.header-about {
		font-size: 1.7rem;
	}

	.about .container .content {
		padding: 2rem;
	}

	.about-info .descr h3 {
		margin-top: 0.5rem;
	}

	.about-info .descr p {
		font-size: 0.8rem;
	}

	.about-info .proffesional-list .list-item h3 {
		font-size: 1rem;
		margin-bottom: 0;
	}

	.about-info .proffesional-list .list-item span {
		font-size: 0.8rem;
	}

	.header-benefits {
		font-size: 1.7rem;
	}

	.sub-header-benefits {
		font-size: 1.2rem;
	}

	.benefits-section .container .content {
		display: block;
		padding: 2rem;
	}

	.benefits-section .content-descr h3 {
		font-size: 0.9rem;
	}

	.benefits-section .content-descr p {
		font-size: 0.8rem;
	}

	.header-apps {
		font-size: 1.7rem;
	}

	.apps-model-body {
		padding: 2rem;
		font-size: 0.8rem;
	}

	.apps-model-body h3 {
		margin-top: 0;
	}

	.contact-left h2 {
		font-size: 1.9em;
		text-align: center;
		margin-top: 0;
	}

	.contact-right p {
		font-size: 1em;
		text-align: center;
	}

	.contact-form .btn:hover {
		background: var(--first-color);
		color: var(--body-bg-color);
		border: 0;
	}

	footer a:hover {
		color: var(--body-bg-color);
	}

	.footer-container .follow h3 {
		margin-top: 1rem;
	}
}
