@use '../base/var' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}

.hamburger {
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;
	span {
		display: block;
		border-radius: 0.5rem;
		width: 30px;
		height: 3px;
		background-color: $white-color;
	}
	span.long {
		width: 35px;
	}
	span.short {
		width: 25px;
	}
}

.menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	color: $white-color;
	visibility: hidden;
	opacity: 0;
	transition: 0.4s ease-in-out;
	z-index: 3;
	cursor: pointer;
	&_active {
		left: 0;
		visibility: visible;
		opacity: 1;
	}
	&__close {
		position: absolute;
		top: 25px;
		right: 20px;
		cursor: pointer;
	}
	&__block {
		position: relative;
		background-color: $main-color;
		padding: 9.75rem 0 0 2.5rem;
		width: 50%;
		height: 100%;
		transition: 0.4s ease-in-out;
		z-index: 3;
	}
	&__list {
		list-style: none;
		padding-left: 2.188rem;
	}
	&__link {
		position: relative;
		padding-bottom: 1.5rem;
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		font-size: 3rem;
		line-height: 2.25rem;
		transition: 0.4s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			top: 13px;
			left: -30px;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			transition: 0.4s ease-in-out;
		}
		&:hover {
			transform: translateX(20px);
			&::before {
				background-color: $back-color;
			}
		}
		a {
			color: $white-color;
			text-decoration: none;
		}
	}
	&__email {
		position: absolute;
		padding-left: 2.188rem;
		bottom: 30px;
		a {
			font-family: 'Raleway', sans-serif;
			font-size: 1rem;
			color: $white-color;
			text-decoration: none;
		}
		&:hover {
			animation: bounce 0.8s ease-in-out;
		}
	}
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white-color;
		opacity: 0.75;
	}
}

@keyframes bounce {
	50% {
		transform: translateY(0%);
	}
	80% {
		transform: translateY(-20%);
	}
	90% {
		transform: translateY(0%);
	}
	95% {
		transform: translateY(-7%);
	}
	97% {
		transform: translateY(0%);
	}
	99% {
		transform: translateY(-3%);
	}
	100% {
		transform: translateY(0);
	}
}
