@use '../base/var' as *;

.quotation {
	padding-top: 7.5rem;
	blockquote {
		padding: 5rem;
		background-color: $main-color;
	}
	&__text {
		font-size: 2rem;
		text-align: center;
		color: $white-color;
	}
}
