@use '../base/var' as *;

.services {
	padding-top: 7.5rem;
	&__wrapper {
		margin-top: 3.75rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-auto-rows: 1fr auto;
		gap: 1rem;
		.first {
			position: relative;
			grid-row: 1 / 4;
			background: url('/src/assets/img/weddings.jpg') top / cover no-repeat;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
				border-radius: 0.5rem;
				background: linear-gradient(
					to top,
					rgba(255, 255, 255, 0.9),
					transparent
				);
				z-index: 1;
			}
		}
		.third {
			position: relative;
			grid-row: 2 / 4;
			background: url('/src/assets/img/studio.jpg') top / cover no-repeat;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
				border-radius: 0.5rem;
				background: linear-gradient(
					to top,
					rgba(255, 255, 255, 0.9),
					transparent
				);
				z-index: 1;
			}
		}
	}
	&__item {
		padding: 1.875rem;
		border-radius: 0.5rem;
		background-color: $white-color;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&-img {
			display: flex;
			height: 40px;
		}
		&-title {
			color: $back-color;
			padding-top: 1.25rem;
			font-size: 1.5rem;
			z-index: 2;
		}
		&-text {
			color: $back-color;
			padding-top: 0.938rem;
			font-family: 'Raleway', sans-serif;
			font-size: 0.75rem;
			letter-spacing: 0.02rem;
			line-height: 1rem;
			z-index: 2;
		}
	}
}
